<h1>Editing Restaurante Favorito</h1>

<%= render 'form', restaurante_favorito: @restaurante_favorito %>

<%= link_to 'Show', @restaurante_favorito %> |
<%= link_to 'Back', restaurante_favoritos_path %>
